@* Make sure you have the ChatMessageModel in a using statement *@
@using AgentBlazor.Models

<div class="h-[calc(100vh-68px)] md:h-screen relative">
    <!-- Message List -->
    <div class="absolute top-0 h-[calc(100%-150px)] md:h-[calc(100%-180px)] w-full px-4 md:px-22 overflow-auto custom-scrollbar pt-4">
        <div class="max-w-3xl mx-auto p-4 space-y-4">
            @foreach (var message in Messages)
            {
                <ChatMessage @key="message.Id"
                             IsUserMessage="@message.IsUserMessage"
                             Text="@message.Text"
                             Timestamp="@message.Timestamp"
                             AvatarUrl="@message.AvatarUrl"
                             IsStreaming="@message.IsStreaming"
                             ToolCalls="@message.ToolCalls" />
            }
        </div>
    </div>

    <!-- Input Area -->
    <div class="absolute flex flex-col justify-end p-4 md:p-10 bottom-0 w-full">
        <ChatInput OnSendMessage="OnSendMessage" ShowIntro="Messages.Count == 0" />
    </div>
</div>

@code {
    [Parameter]
    public List<ChatMessageModel> Messages { get; set; } = new();

    [Parameter]
    public EventCallback<string> OnSendMessage { get; set; }
}